.news {
    width: 100%;
    padding: 32px 150px;
    min-height: 367px;
    display: flex;
    color: #fff;
}

.container {
    width: 100%;
    gap: 28px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 15px;
}

.button {
    display: flex;
    justify-content: right;
    padding-top: 20px;
}