.recentCollection {
  width: 100%;
  padding: 32px 70px;
  min-height: 367px;
  display: flex;
  color: #fff;
  flex-direction: column;
  background-color: #191c29;
  border-radius: 8px;
}

.wrapper {
  padding: 100px;
} 

.container {
  width: 100%;
  gap: 28px;
  overflow: auto;
  position: relative;
}

.cards {
  display: flex;
  gap: 16px;
  padding-top: 30px;
  justify-content: space-between;
  text-align: center;
}

.button {
  display: flex;
  justify-content: right;
  padding-top: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn {
  width: 200px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #ef9afa;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.btn:hover {
  background-color: #711396;
  box-shadow: 0px 15px 20px rgba(81, 55, 93, 0.73);
  color: #fff;
  transform: translateY(-7px);
}
