.card {
    display: inline-flex;
    flex-direction: column;
    max-width: 262px;
}

.card img {
    border-radius: 8px;
    width: 262px;
    height: 262px;
}

.card .description {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-top: 16px;
}

.card h1 {
    color: rgb(254, 254, 204);
    font-weight: 700;
    font-size: 22px;
}

.card p {
    color: rgb(254, 254, 204);
    font-weight: 700;
    font-size: 18px;
}

.button {
    display: flex;
    justify-content: left;
    padding-top: 20px;
  }

  .btn {
    width: 200px;
    height: 45px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ef9afa;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #711396;
    box-shadow: 0px 15px 20px rgba(81, 55, 93, 0.73);
    color: #fff;
    transform: translateY(-7px);
  }
