.card {
    display: inline-flex;
    flex-direction: column;
    max-width: 262px;
}

.card img {
    border-radius: 8px;
    width: 262px;
    height: 262px;
}

.card .description {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-top: 16px;
}

.card h1 {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    width: 262px;
    height: 150px;
    display: flex;
    align-items: center;
}

.card p {
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    width: 262px;
    height: 200px;
    overflow: auto;
}