.allCollections {
    width: 100%;
    padding: 32px 150px;
    min-height: 367px;
    display: flex;
    background: rgb(196, 231, 239);
}

.container {
    width: 100%;
    gap: 28px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 15px;
}